<!DOCTYPE html>
<html>
<head>
    <title>Finance Management System</title>
</head>
<body>

<h1>Finance Management System</h1>
<h3>Total Customers : {{ total_customers }}</h3>
<h3>Active Customers : {{ active_customers }}</h3>
<h3>Closed Customers : {{ closed_customers }}</h3>
<h3>Due Customers Today : {{ due_customers }}</h3>


<a href="/add_customer">Add Customer</a>

<br><br>

<a href="/active_customers">Active Customers</a>

<br><br>

<a href="/reminders">Reminder Dashboard</a>

<br><br>

<a href="/payment_history">
    Payment History
</a>

</body>
</html>